.non-select {
  -ms-user-select: none;

  /**
     * Для мозилы
     */
  -moz-user-select: none;

  /**
     * Для конкверора
     */
  -khtml-user-select: none;

  /**
     * Для Сафари и Хрома
     */
  -webkit-user-select: none;
}
