
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: snow;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
    background-color: #1F1F21;
    height: 100vh;
}

.topbar {
    background-color: #46464a;
    padding: 10px;
    border-radius: 20px;
    width: 90%;
}

.topbar .topbar-item {
    height: 32px;
    width: 32px;
}
